body {
    background-color: #db8539;
    color: azure;
    padding: 20px;
}

.card {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.titulos {
    text-align: center;
    margin: 35px 20px;
}

.longitud {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

form.card {
    background-color: #db8539;
    color: rgb(255, 255, 255);
    border: none;
    padding: 0%;
    box-shadow: none;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }

    .longitud {
        width: 100%;
    }
}

.volver {
      color: #ffffff;
     text-align: center;
}
