body {
  display: flex;
  flex-direction: column;
  background-color: #fcdd8e;
  font-family: 'Segoe UI', sans-serif;
}

.header-bg {
  background: linear-gradient(90deg, #be741c, #e09130);
  border-bottom: 3px solid #000;
  padding-top: 20px;
}

.logo img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

navbar {
  padding: 10, 0px;
  display: flex;
  justify-content: right;
}

.links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.links li a {
  background-color: #f4e1b6;
  text-decoration: none;
  color: black;
  border: solid;
  border-radius: 20px;
  padding: 7px 20px;

}

main {
    flex: 1;
}

#formulario{
    margin: 50px 
}
#ini {
    margin: 50px
}
#colorletraform{
    color: black;
}

footer {
  background: linear-gradient(90deg, #be741c, #e09130);
  border-top: 3px solid #000;
  padding-bottom: 20px;
  color: white;
}