:root {
    --foxly-orange: #d28b4d;
    --foxly-dark: #2c3e50;
    --bg-light: #f4f7f6;
    --math-blue: #4a90e2;  
}

body {
    font-family: 'Poppins', sans-serif;
    background-color:  aliceblue;
}

nav#foxlyNav {
    background: linear-gradient(90deg, #be741c, #f1a13e);
}

.text-orange { color: var(--foxly-orange); font-weight: 700; }
.text-dark { color: var(--foxly-dark); font-weight: 700; }

.logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 30px;
  color: #000;
}

.nav-link:hover {
  background-color: aliceblue;
}

main {
  flex: 1;
}

#formulario {
  margin: 50px
}

#ini {
  margin: 50px
}

#colorletraform {
  color: black;
}

footer {
  background: linear-gradient(90deg, #be741c, #e09130);
  padding: 10px;
  color: white;
}

.card {
  margin: 0 auto;
  width: 50%;
  margin-bottom: 70px;
}

.iniform {
  text-align: center;
  margin-block: 35px;
}

@media (max-width: 768px){
  .card {
    width: 80%;
  }
}

html{

  height: 100%;
  margin: 0; 
}

body {
  display: flex;  
  flex-direction: column;
  min-height: 100vh;
}
main
{
  flex: 1;
}

.olvi 
{
  color: #f1a13e;
}