        body {
            background-color: #d28b4d;
            font-family: 'Rounded', sans-serif;
        }

        .row {
            display: flex;
        }

        .achievement-card {
            border-radius: 15px;
            border: 2px solid #cabca4;
            transition: 0.3s;
        }

        .achievement-card:hover {
            transform: translateY(-5px);
            border-color: #241d35;
        }

        .badge-icon {
            width: 80px;
            height: 80px;
        }

        .progress {
            height: 15px;
            border-radius: 10px;

        }

        .text-locked {
            color: #afafaf;
        }

        .seccion-logros {
            margin: 20px;
            background-color: rgb(245, 215, 116);
        }

        .imagen-fuego {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;


        }

        .imagen-logro2 {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;

        }

        .imagen-logro3 {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }

        .logo {
            width: 50px;
            height: 50px;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
        }

        .cabeza {
            background-color: #d28b4d;
        }
        .cartas {
            background-color: #ffdcac !important;
        }