body {
    display: flex;
    flex-direction: column;
    background-color: #fcdd8e;
    margin: 0;
}

.cabeza {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #be741c;
    margin: 0;
    padding: 5px 30px;
}

.caja img {
    display: flex;
    border-radius: 50px;
}

.navbar {
    padding: 10, 0px;
    display: flex;
    justify-content: right;
}

.links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.links li a {
    background-color: aliceblue;
    text-decoration: none;
    color: black;
    border: solid;
    border-radius: 20px;
    padding: 7px 20px;

}

ul {
    padding-inline-start: 0;
}

main {
    text-align: center;
    flex: 1;
}


footer {
    background-color: #be741c;
    color: white;
}