:root {
  --foxly-orange: #d28b4d;
  --foxly-dark: #2c3e50;
  --bg-light: #f4f7f6;
  --math-blue: #4a90e2;
}

body {
  background-color: #fffdfd;
  font-family: 'Segoe UI', sans-serif;
}

nav#foxlyNav {
  background: linear-gradient(90deg, #be741c, #f1a13e);
}

.text-orange {
  color: var(--foxly-orange);
  font-weight: 700;
}

.text-dark {
  color: var(--foxly-dark);
  font-weight: 700;
}

.logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 30px;
  color: #131313;
}

.nav-link:hover {
  background-color: rgb(255, 254, 253);
}

/* NIVEL */
.nivel-box {
  background: #ffcf68;
  padding: 15px 25px;
  border-radius: 20px;
  font-weight: bold;
}

/* PERFIL */
.perfil-card {
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* AVATAR */
.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #eeeeee;
  margin: auto;
}

/* CALENDARIO */
.calendario-card {
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* GRID CALENDARIO */
.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.day {
  padding: 12px;
  text-align: center;
  background: #e7e6e6;
  border-radius: 10px;
  font-weight: 500;
}

.day.active {
  background: #f0a340;
  color: rgb(255, 255, 255);
}

/* INSIGNIAS */
.badge-box {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 213, 98);
  font-size: 22px;
}

/* BOTÓN */
.btn-warning {
  border-radius: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .header-box {
    text-align: center;
  }

  .nivel-box {
    margin-top: 15px;
  }
}
